body {
    background-image: url("../assets/img/backgoundcolours.png");
    font-family: sans-serif;
}
header {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    
    
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 30px;
}
.nav h1 {
    font-size: 15px;
}
ul{
    font-size: 15px;
    list-style: none;   
   
}
li {
    padding: 5px;
}
li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.search-sign{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #e5e5e5;
    padding: 10px 30px;
    align-items: center;
    height: 35px;
    
}
.search {
    display: flex;
    align-items: center;
}
input {
    background-color: #f2f2f2;
    width: 500px;
    height: 30px;
    background-image: url("../assets/img/lupa.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    text-indent: 25px;
    box-sizing: border-box;
}
#npm-image {
    width: 50px;
}
.btn-header {
    height: 30px;
    box-sizing: border-box;
    border-radius: 0%;
    width: 100px;
}
#search-btn {
    color: white;
    background-color: black;
}
#sign-up {
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
#sign-in {
    background-color: #fff;
    border: none
}